<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="keywords" content="宋仲基【跑男】录制花絮曝光,恶搞,新闻,国内新闻,国际新闻,娱乐,八卦,明星,视频,暴风视频" />
        <meta name="description" content="暴风影音-微视频频道,宋仲基【跑男】录制花絮曝光,提供当下最新、最热娱乐八卦,新闻,搞笑视频,影视资讯 免费在线观看" />
        <meta name="apple-mobile-web-app-status-bar-style" content=" black ">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <title>宋仲基【跑男】录制花絮曝光 - 微视频 - 暴风影音</title>
        <link rel="apple-touch-icon-precomposed" href="http://staticm.hd.baofeng.com/images/share/logo57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://staticm.hd.baofeng.com/images/share/logo114.png" />
        <div style="display: none;">
            <img src="http://staticm.hd.baofeng.com/images/share/logo300.jpg"/>
        </div>
        <link rel="apple-touch-icon" href="favicon.ico">
        <link rel="shortcut icon" href="favicon.ico">
        <script src="http://staticm.hd.baofeng.com/script/libs/flexible.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://staticm.hd.baofeng.com/style/play.min.css?t=1462280515">
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?8a388c6d704406084886f9de425484a9";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>
    <body>
        <script src="http://staticm.hd.baofeng.com/script/libs/logger.min.js"></script>
        <section>
            <header>
                <div class="hd-head">
                    <h1><a href="/"  title="暴风影音">暴风影音</a></h1>
                    <div class="head-users"><span id="searchbutton" class="search-button"></span><span id="menubutton" data-type="poll" data-auto="auto" class="menu-button"></span></div>
                    <!--菜单浮层start-->
                    <ul id="menulist" class="menu-list" style=" display:none;">
                        <li><a href="/"  title="">首页</a></li>
                        <li><a href="/movie/54/list-ishot-1-sid-1-p-1.shtml"  title="">电影</a></li>
                        <li><a href="/tv/82/list-type-2-ishot-1-sid-0-p-1.shtml"  title="">电视剧</a></li>
                        <li><a href="/enc/444/list-type-4-ishot-1-sid-1-p-1.shtml"  title="">综艺</a></li>
                        <li><a href="/comic/924/list-type-3-ishot-1-sid-1-p-1.shtml"  title="">动漫</a></li>
                        <li><a href="/micvideo.html"  title="">资讯</a></li>
                        <li><a href="/edu/881/list-type-66-ishot-1-sid-1-p-1.shtml"  title="">教育</a></li>
                    </ul>
                    <!--菜单浮层end-->
                </div>
            </header>
            <div id="searchbar" class="search-popup" style="display: none;">
                <form action="http://hd.baofeng.com/q_JUU1JTg4JTk4JUU1JUJFJUI3JUU1JThEJThF" method="get" target="" autocomplete="off">
                    <div class="search-wrap">
                        <div class="search-wrap-box">
                            <input data-type="input" type="search" placeholder="请输入搜索内容"/>
                            <span data-type="close" class="i-clear"></span>
                        </div>
                        <button data-type="submit" class="s-btn" type="submit">取消</button>
                    </div>
                </form>
                <ul class="search-layer"></ul>
            </div>
            <div class="hd-play-box">
                <div class="hd-video-player">
                    <div class="video-tips-box">
                        <p class="tips-text" id="tipsvideo"></p>
                    </div>
                    <div id="videoplayer" class="video-player">
                        <p class="video-default-pic"><img src="http://staticm.hd.baofeng.com/images/videodefault.jpg"></p>
                    </div>
                </div>
                <div class="video-info"><div id="videoinfo"><em data-type="likeup" data-sum="0" class="like">0</em><em data-type="likedown" data-sum="0" class="dislike">0</em></div><em id="sharebutton" data-type="poll" class="share"><div class="play-share-con" id="shareview"></div></em></div>
            </div>
            <!--播放区域end-->
            <div class="hd-channel">
                <h3 class="hd-channel-tit">专辑列表</h3>
                <div class="hd-channel-box">
                                        <div id="albumload" class="hd-search-loadding" style="display:block;"><span>加载中...</span></div>
                    <ul id="movieview" class="hd-channel-list  hd-related-list"></ul>
                </div>
            </div>
            <!--底部start-->
            <footer>
                <a href="http://home.baofeng.com/licence/icp.html" target="_blank">京ICP证070364号</a>
            </footer>            <!--底部end-->
            <!--下载APP-start-->
            <div id="appview" class="hd-download-player">
                <div class="download-details">
                    <p class="close-btn" data-type="remove">关闭</p>
                    <div class="download-con">
                        <h2>
                            <a href="http://m.baofeng.com"></a>
                        </h2>
                        <a id="appload" href="javascript:void(0);" class="app-download">立即下载</a>
                    </div>
                </div>
            </div>
            <!--下载APP-end-->
            <!--返回顶部start-->
            <div id="gotop" class="hd-backup">
                <em data-type="tap" class="backup-icon"></em>
            </div>
        </section>
        <script id="share_tmpl" type="text/html">
            <div id="bdshare" class="play-share-detail bdshare_t bds_tools get-codes-bdshare" data='{"url":"http://m.baofeng.com/micv/2/micv-2-37-vid-3211281.html","pic":"http://box.bfimg.com/vimg/wid/37/281/3211281/52_129508536_146*110.jpg","text": "我正在暴风极致影院观看：，很赞！"}'>
                <a href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="javascript:void(0);" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </script>
        <script id="mplay_tmpl" type="text/html">
            <%for(var i=0,len = video_list.length;i<len;i++){%>
                <li class="<%=(cur==i)&&'cur'%>">
                    <div class="film-box">
                        <div class="film-pic">
                            <p class="film-default"></p>
                            <div class="pic" style="background-image:url(<%=video_list[i].img%>);">
                                <%if(video_list[i].video_time){%>
                                    <p class="film-time-layer"><%=video_list[i].video_time%></p>
                                <%}%>
                            </div>
                        </div>
                        <div class="film-text">
                            <h3><%=(video_list[i].v_sub_title || video_list[i].vname)%></h3>
                        </div>
                         <div class="all-film" data-index="<%=video_list[i].index%>"></div>
                    </div>
                </li>
            <%}%>
        </script>
        <!--返回顶部end-->
        <script type="text/javascript">
            var caching = {
                "search": [{"name": "欢乐颂"},{"name": "巧虎宝宝版"},{"name": "殊死七日"},{"name": "山海经之赤影传说"},{"name": "美人鱼"}]
            };
            var static_storm_json = {"album_info":{"aid":"2","aname":"\u70ed\u70b9\u5a31\u4e504\u6708\u7cbe\u90092","update_time":"1462246710802","videos_num":"160","ispay":"0","dzone":"0","wid":"37","series_total":160},"video_list":[{"flash":"0","vid":"3211281","vname":"\u5b8b\u4ef2\u57fa\u3010\u8dd1\u7537\u3011\u5f55\u5236\u82b1\u7d6e\u66dd\u5149","video_time":"325000","v_sub_title":"\u5b8b\u4ef2\u57fa\u3010\u8dd1\u7537\u3011\u5f55\u5236\u82b1\u7d6e\u66dd\u5149","img_url":"\/vimg\/wid\/37\/281\/3211281\/52_129508536_146*110.jpg","update_time":"1461916681467","location":"3","ispay":"0","dzone":"0","iid":"045176028CEBD790FC66D106E69FC47F1DDB75EE","size":"20770018","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/281\/3211281\/52_129508536_146*110.jpg"},{"flash":"0","vid":"3214222","vname":"\u9b4f\u5219\u897f\u4e8b\u4ef6\u767e\u5ea6\u63a8\u8350\u533b\u9662\u5f15\u8d28\u7591","video_time":"174000","v_sub_title":"\u9b4f\u5219\u897f\u4e8b\u4ef6\u767e\u5ea6\u63a8\u8350\u533b\u9662\u5f15\u8d28\u7591","img_url":"\/vimg\/wid\/37\/222\/3214222\/52_129521576_146*110.jpg","update_time":"1462244249996","location":"1","ispay":"0","dzone":"0","iid":"8F05D77A650BC5E6C2FA74584FC76225F82E953F","size":"10704412","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/222\/3214222\/52_129521576_146*110.jpg"},{"flash":"0","vid":"3214209","vname":"\u60ca\u5446\uff01\u7537\u5a74\u957f31\u6839\u624b\u6307\u811a\u8dbe","video_time":"28000","v_sub_title":"\u60ca\u5446\uff01\u7537\u5a74\u957f31\u6839\u624b\u6307\u811a\u8dbe","img_url":"\/vimg\/wid\/37\/209\/3214209\/52_129521515_146*110.jpg","update_time":"1462242539089","location":"2","ispay":"0","dzone":"0","iid":"42388F856DB7D70A28061B8EF48092FA513E88AD","size":"1742178","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/209\/3214209\/52_129521515_146*110.jpg"},{"flash":"0","vid":"3211282","vname":"\u5b81\u975944\u5c81\u751f\u65e5\u6652\u7d20\u989c","video_time":"60000","v_sub_title":"\u5b81\u975944\u5c81\u751f\u65e5\u6652\u7d20\u989c","img_url":"\/vimg\/wid\/37\/282\/3211282\/52_129508537_146*110.jpg","update_time":"1461916697334","location":"4","ispay":"0","dzone":"0","iid":"2ADDA54DBF611617062CAFB3FFD883BCD78EF9EF","size":"3845148","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/282\/3211282\/52_129508537_146*110.jpg"},{"flash":"0","vid":"3211283","vname":"\u738b\u51ef\u611f\u60c5\u620f\u4e0a\u7ebf","video_time":"136000","v_sub_title":"\u738b\u51ef\u611f\u60c5\u620f\u4e0a\u7ebf","img_url":"\/vimg\/wid\/37\/283\/3211283\/52_129508538_146*110.jpg","update_time":"1461916703874","location":"5","ispay":"0","dzone":"0","iid":"1B70C055AFB16E952BCBF04E55AA72EB06500365","size":"8009569","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/283\/3211283\/52_129508538_146*110.jpg"},{"flash":"0","vid":"3211284","vname":"\u3010\u6b22\u4e50\u9882\u3011\u5973\u4e3b\u53d1\u578b\u5927\u89e3\u6790","video_time":"121000","v_sub_title":"\u3010\u6b22\u4e50\u9882\u3011\u5973\u4e3b\u53d1\u578b\u5927\u89e3\u6790","img_url":"\/vimg\/wid\/37\/284\/3211284\/52_129508539_146*110.jpg","update_time":"1461916714131","location":"6","ispay":"0","dzone":"0","iid":"4686812368A4DA6F57FBD29FEBB5C8ACA614676A","size":"7709887","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/284\/3211284\/52_129508539_146*110.jpg"},{"flash":"0","vid":"3211285","vname":"\u8463\u537f\u88ab\u66dd\u4e0e\u5bcc\u5546\u79d8\u5a5a\u751f\u5b50","video_time":"74000","v_sub_title":"\u8463\u537f\u88ab\u66dd\u4e0e\u5bcc\u5546\u79d8\u5a5a\u751f\u5b50","img_url":"\/vimg\/wid\/37\/285\/3211285\/52_129508540_146*110.jpg","update_time":"1461916718875","location":"7","ispay":"0","dzone":"0","iid":"9BF9BA9EA2D948E971F4A8E27B2C35F824300A8C","size":"4703135","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/285\/3211285\/52_129508540_146*110.jpg"},{"flash":"0","vid":"3211286","vname":"\u9c81\u8c6b\u66b4\u7626\u6210\u7eb8\u7247\u4eba","video_time":"71000","v_sub_title":"\u9c81\u8c6b\u66b4\u7626\u6210\u7eb8\u7247\u4eba","img_url":"\/vimg\/wid\/37\/286\/3211286\/52_129508541_146*110.jpg","update_time":"1461916723597","location":"8","ispay":"0","dzone":"0","iid":"347265FB12DDEE5AF4A284BD84FAB29F5B7FB361","size":"4583878","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/286\/3211286\/52_129508541_146*110.jpg"},{"flash":"0","vid":"3210497","vname":"\u3010\u767d\u9e7f\u539f\u3011\u4f5c\u8005\u9648\u5fe0\u5b9e\u4eca\u6668\u53bb\u4e16","video_time":"55000","v_sub_title":"\u3010\u767d\u9e7f\u539f\u3011\u4f5c\u8005\u9648\u5fe0\u5b9e\u4eca\u6668\u53bb\u4e16","img_url":"\/vimg\/wid\/37\/497\/3210497\/52_129504258_146*110.jpg","update_time":"1461901556691","location":"9","ispay":"0","dzone":"0","iid":"424D18A603B76E6763525D10448E73F15205EBA3","size":"3523973","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/497\/3210497\/52_129504258_146*110.jpg"},{"flash":"0","vid":"3210447","vname":"\u94a2\u94c1\u4fa0\u5267\u7ec4\u63a2\u8bbf\u513f\u7ae5\u533b\u9662","video_time":"45000","v_sub_title":"\u94a2\u94c1\u4fa0\u5267\u7ec4\u63a2\u8bbf\u513f\u7ae5\u533b\u9662","img_url":"\/vimg\/wid\/37\/447\/3210447\/52_129504115_146*110.jpg","update_time":"1461902693124","location":"10","ispay":"0","dzone":"0","iid":"854890B5E85F00DF39A08DC90503BCAA98A19F6C","size":"2626378","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/447\/3210447\/52_129504115_146*110.jpg"}],"page":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"1-160":1}},"cache_created":1462275798}
        </script>
        <script type="text/javascript" src="http://staticm.hd.baofeng.com/script/mplay.min.js?t=1462280515"></script>
    </body>
</html>
