
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="keywords" content="疑马蓉为女儿改名去掉王姓,恶搞,新闻,国内新闻,国际新闻,娱乐,八卦,明星,视频,暴风视频" />
        <meta name="description" content="暴风影音-微视频频道,疑马蓉为女儿改名去掉王姓,提供当下最新、最热娱乐八卦,新闻,搞笑视频,影视资讯 免费在线观看" />
        <meta name="apple-mobile-web-app-status-bar-style" content=" black ">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <title>疑马蓉为女儿改名去掉王姓 - 微视频 - 暴风影音</title>
        <link rel="apple-touch-icon-precomposed" href="http://staticm.hd.baofeng.com/images/share/logo57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://staticm.hd.baofeng.com/images/share/logo114.png" />
        <div style="display: none;">
            <img src="http://staticm.hd.baofeng.com/images/share/logo300.jpg"/>
        </div>
        <link rel="apple-touch-icon" href="favicon.ico">
        <link rel="shortcut icon" href="favicon.ico">
        <script src="http://staticm.hd.baofeng.com/script/libs/flexible.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://staticm.hd.baofeng.com/style/play.min.css?t=1481595057">

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?8a388c6d704406084886f9de425484a9";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();

        (function (G,D,s,c,p) {
        c={
        　　UA:"UA-baofeng-000001",
        　　NO_FLS:0,
        　　WITH_REF:1,
        　　URL:'http://static.hd.baofeng.com/script/iwt.js'
        };
        G._iwt?G._iwt.track(c,p):(G._iwtTQ=G._iwtTQ || []).push([c,p]),!G._iwtLoading && lo();
        function lo(t) {
        　　G._iwtLoading=1;s=D.createElement("script");s.src=c.URL;
        　　t=D.getElementsByTagName("script");t=t[t.length-1];
        　　t.parentNode.insertBefore(s,t);
        }
        })(this,document);
        </script>


        <script src="http://staticm.hd.baofeng.com/script/libs/logger.min.js?t=1481595057"></script>
    </head>
    <body>        <div data-ads="houyi:load" data-id="h5_banner8" data-type="8" data-size="0:1.15" class="play-ad"></div>
        <section>
            <header>
                <div class="hd-head" style="position: absolute;">
                    <h1><a href="/"  title="暴风影音">暴风影音</a></h1>
                    <div class="head-users">
                        <span id="searchbutton" class="search-button"></span>
                        <a href="/history.html" class="history-button"></a>
                        <span id="usersbutton" class="users-button"></span>
                        <span id="menubutton" data-type="poll" data-auto="auto" class="menu-button"></span>
                    </div>
                </div>
            </header>
                    <!--菜单浮层start-->
                    <ul id="menulist" class="menu-list play-menu-list" style=" display:none;">
                                                <li><a href="/"  title="">首页</a></li>
                                                <li><a href="/movie.html"  title="">电影</a></li>
                                                <li><a href="/tv.html"  title="">电视剧</a></li>
                                                <li><a href="/comic.html"  title="">动漫</a></li>
                                                <li><a href="/edu.html"  title="">教育</a></li>
                                                <li><a href="/enc.html"  title="">综艺</a></li>
                                                <li><a href="/micvideo.html"  title="">资讯</a></li>
                                                <li><a href="/sport.html"  title="">体育</a></li>
                                                <li><a href="/music/840/vlist-type-1001-ishot-1-sid-1-p-1.shtml"  title="">音乐</a></li>
                                                <li><a href="/bbc/204/list-type-63-ishot-1-sid-1-p-1.shtml"  title="">纪录片</a></li>
                                            </ul>
                    <!--菜单浮层end-->

            <div id="searchbar" class="search-popup play-search-popup" style="display: none;">
                <form action="http://hd.baofeng.com/q_JUU1JTg4JTk4JUU1JUJFJUI3JUU1JThEJThF" method="get" target="" autocomplete="off">
                    <div class="search-wrap">
                        <div class="search-wrap-box">
                            <input data-type="input" type="search" placeholder="请输入搜索内容"/>
                            <span data-type="close" class="i-clear"></span>
                        </div>
                        <button data-type="submit" class="s-btn" type="submit">取消</button>
                    </div>
                </form>
                <ul class="search-layer"></ul>
            </div>
            <div class="hd-play-box">
                <div class="hd-video-player">
                    <div class="video-tips-box">
                        <p class="tips-text" id="tipsvideo"></p>
                    </div>
                    <div id="videoplayer" class="video-player">
                        <p class="video-default-pic"><img src="http://staticm.hd.baofeng.com/images/videodefault.jpg"></p>
                    </div>
                </div>
                <div class="video-info video-download-box"><a href="javascript:void(0);" title="使用APP观看，速度快到飞起来!" class="download-app"><i class="icon-download"></i></a></div>
                <div class="video-info"><div id="videoinfo"><em data-type="likeup" data-sum="0" class="like">0</em><em data-type="likedown" data-sum="0" class="dislike">0</em></div><em id="sharebutton" data-type="poll" class="share"><div class="play-share-con" id="shareview"></div></em></div>
            </div>
            <!--播放区域end-->
            <div data-ads="houyi:load" data-id="h5_banner5" data-type="5" class="hd-ad"></div>
            <div class="hd-channel">
                <h3 class="hd-channel-tit">专辑列表</h3>
                <div class="hd-channel-box">
                                        <div id="albumload" class="hd-search-loadding" style="display:block;"><span>加载中...</span></div>
                    <ul id="movieview" class="hd-channel-list  hd-related-list"></ul>
                </div>
            </div>
            <div data-ads="houyi:delay" data-if="1388@wkssp:delay" data-id="h5_banner6" data-type="6" class="hd-ad"></div>
            <!--底部start-->
                        <footer>
                <a href="http://home.baofeng.com/licence/icp.html" target="_blank">京ICP证070364号</a>
            </footer>            <!--底部end-->
            <!--下载APP-start-->
            <div id="appview" class="hd-download-player">
                <div class="download-details">
                    <p class="close-btn" data-type="remove">关闭</p>
                    <div class="download-con">
                        <h2>
                            <a href="http://m.baofeng.com"></a>
                        </h2>
                        <a id="appload" href="javascript:void(0);" class="app-download">立即下载</a>
                    </div>
                </div>
            </div>
            <!--下载APP-end-->
            <!--返回顶部start-->
            <div id="gotop" class="hd-backup">
                <em data-type="tap" class="backup-icon"></em>
            </div>
        </section>

        <script id="share_tmpl" type="text/html">
            <div id="bdshare" class="play-share-detail bdshare_t bds_tools get-codes-bdshare" data='{"url":"http://m.baofeng.com/micv/46/micv-3546-37-vid-3584075.html","pic":"http://box.bfimg.com/vimg/wid/37/75/3584075/52_131070618_146*110.jpg","text": "我正在暴风极致影院观看：，很赞！"}'>
                <a href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="javascript:void(0);" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </script>
        <script id="mplay_tmpl" type="text/html">
            <%for(var i=0,len = video_list.length;i<len;i++){%>
                <li class="<%=(cur==i)&&'cur'%>">
                    <div class="film-box">
                        <div class="film-pic">
                            <p class="film-default"></p>
                            <div class="pic" style="background-image:url(<%=video_list[i].img%>);">
                                <%if(video_list[i].video_time){%>
                                    <p class="film-time-layer"><%=video_list[i].video_time%></p>
                                <%}%>
                            </div>
                        </div>
                        <div class="film-text">
                            <h3><%=(video_list[i].v_sub_title || video_list[i].vname)%></h3>
                        </div>
                         <div class="all-film" data-index="<%=video_list[i].index%>"></div>
                    </div>
                </li>
            <%}%>
        </script>
        <!--返回顶部end-->
        <script type="text/javascript">
            var caching = {
                "search": [
{"name": "锦绣未央"},{"name": "美人私房菜"},{"name": "从你的全世界路过"},{"name": "不可能完成的任务"},{"name": "画江湖之杯莫停"}]
            };
            var static_storm_json = {"album_info":{"aid":"3546","aname":"11\u6708\u8d44\u8baf2","update_time":"1481522666491","videos_num":"268","ispay":"0","dzone":"0","wid":"37","series_total":267},"video_list":[{"flash":"0","vid":"3584075","vname":"\u7591\u9a6c\u84c9\u4e3a\u5973\u513f\u6539\u540d\u53bb\u6389\u738b\u59d3","video_time":"36000","v_sub_title":"\u7591\u9a6c\u84c9\u4e3a\u5973\u513f\u6539\u540d\u53bb\u6389\u738b\u59d3","img_url":"\/vimg\/wid\/37\/75\/3584075\/52_131070618_146*110.jpg","update_time":"1481078764899","location":"98","ispay":"0","dzone":"0","iid":"EC56CBA9D79A0C54E8D8DE78F60757F880B3CB81","size":"2378203","click":"851","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/75\/3584075\/52_131070618_146*110.jpg"},{"flash":"0","vid":"3584310","vname":"\u9526\u8363\u79f0\u548c\u8521\u4f9d\u6797\u4ea4\u5f80\u5f88\u5bc2\u5bde","video_time":"43000","v_sub_title":"\u9526\u8363\u79f0\u548c\u8521\u4f9d\u6797\u4ea4\u5f80\u5f88\u5bc2\u5bde","img_url":"\/vimg\/wid\/37\/310\/3584310\/52_131072016_146*110.jpg","update_time":"1481098011643","location":"99","ispay":"0","dzone":"0","iid":"783A60624B77F028B066A24CCBAE0D8D2D49D00B","size":"2762254","click":"493","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/310\/3584310\/52_131072016_146*110.jpg"},{"flash":"0","vid":"3584307","vname":"\u5510\u5ae3\u8131\u5355\u80e1\u6b4c\u5fae\u535a\u518d\u6ca6\u9677","video_time":"39000","v_sub_title":"\u5510\u5ae3\u8131\u5355\u80e1\u6b4c\u5fae\u535a\u518d\u6ca6\u9677","img_url":"\/vimg\/wid\/37\/307\/3584307\/52_131072013_146*110.jpg","update_time":"1481098051540","location":"100","ispay":"0","dzone":"0","iid":"6FC38DA3986CCE687D78C082EC546BDE66DD1230","size":"2514810","click":"503","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/307\/3584307\/52_131072013_146*110.jpg"},{"flash":"0","vid":"3584112","vname":"\u91d1\u57ce\u6b66\u8c08\u7231\uff1a\u6211\u7eaf\u60c5\u975e\u667a\u969c","video_time":"50000","v_sub_title":"\u91d1\u57ce\u6b66\u8c08\u7231\uff1a\u6211\u7eaf\u60c5\u975e\u667a\u969c","img_url":"\/vimg\/wid\/37\/112\/3584112\/52_131070932_146*110.jpg","update_time":"1481084682719","location":"101","ispay":"0","dzone":"0","iid":"BADCA3253D57CE374D47E73D442CB76FA03D5DF6","size":"3206172","click":"436","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/112\/3584112\/52_131070932_146*110.jpg"},{"flash":"0","vid":"3584499","vname":"\u5916\u4ea4\u90e8\u56de\u5e94\u5b89\u500d\u8bbf\u73cd\u73e0\u6e2f","video_time":"201000","v_sub_title":"\u5916\u4ea4\u90e8\u56de\u5e94\u5b89\u500d\u8bbf\u73cd\u73e0\u6e2f","img_url":"\/vimg\/wid\/37\/499\/3584499\/52_131073284_146*110.jpg","update_time":"1481161502097","location":"102","ispay":"0","dzone":"0","iid":"12DA3B3C9B2CD993C93F8A87F8ED66ADF5771EC1","size":"12807621","click":"3359","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/499\/3584499\/52_131073284_146*110.jpg"},{"flash":"0","vid":"3584487","vname":"\u5ba2\u673a\u5760\u6bc1\u73b0\u573a\u753b\u9762\u66dd\u5149","video_time":"33000","v_sub_title":"\u5ba2\u673a\u5760\u6bc1\u73b0\u573a\u753b\u9762\u66dd\u5149","img_url":"\/vimg\/wid\/37\/487\/3584487\/52_131073239_146*110.jpg","update_time":"1481161261536","location":"103","ispay":"0","dzone":"0","iid":"FFD5BB287FB5DA7AC0A5AC5C65A6A3C2B29CA4AC","size":"2131716","click":"20","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/487\/3584487\/52_131073239_146*110.jpg"},{"flash":"0","vid":"3584136","vname":"200\u6c22\u6c14\u7403\u7535\u68af\u5185\u7206\u70b8\u70b8\u4f248\u4eba","video_time":"212000","v_sub_title":"200\u6c22\u6c14\u7403\u7535\u68af\u5185\u7206\u70b8\u70b8\u4f248\u4eba","img_url":"\/vimg\/wid\/37\/136\/3584136\/52_131071148_146*110.jpg","update_time":"1481093883843","location":"104","ispay":"0","dzone":"0","iid":"171FAF3A56F858A3C969762429C13C98D3283C9E","size":"13503537","click":"2524","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/136\/3584136\/52_131071148_146*110.jpg"},{"flash":"0","vid":"3584137","vname":"\u5927\u5b66\u751f\u5728\u5bdd\u5ba4\u517b\u4e07\u4f59\u53ea\u6606\u866b","video_time":"33000","v_sub_title":"\u5927\u5b66\u751f\u5728\u5bdd\u5ba4\u517b\u4e07\u4f59\u53ea\u6606\u866b","img_url":"\/vimg\/wid\/37\/137\/3584137\/52_131071149_146*110.jpg","update_time":"1481093860943","location":"105","ispay":"0","dzone":"0","iid":"69EECA44E61D13AABCA774EE2336B865A4BBE586","size":"2119905","click":"3135","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/137\/3584137\/52_131071149_146*110.jpg"},{"flash":"0","vid":"3584059","vname":"\u5370\u5c3c\u9644\u8fd1\u6d77\u57df\u53d1\u751f6.8\u7ea7\u5730\u9707","video_time":"16000","v_sub_title":"\u5370\u5c3c\u9644\u8fd1\u6d77\u57df\u53d1\u751f6.8\u7ea7\u5730\u9707","img_url":"\/vimg\/wid\/37\/59\/3584059\/52_131070554_146*110.jpg","update_time":"1481076901983","location":"106","ispay":"0","dzone":"0","iid":"B7154951646531F9F9540C89582FC67162577CCB","size":"1030039","click":"2184","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/59\/3584059\/52_131070554_146*110.jpg"},{"flash":"0","vid":"3584060","vname":"\u5931\u604b\u7537\u5b50\u5f00\u7164\u6c14\u6b32\u81ea\u6740","video_time":"51000","v_sub_title":"\u5931\u604b\u7537\u5b50\u5f00\u7164\u6c14\u6b32\u81ea\u6740","img_url":"\/vimg\/wid\/37\/60\/3584060\/52_131070555_146*110.jpg","update_time":"1481076901983","location":"107","ispay":"0","dzone":"0","iid":"5727D88FC31D0BB7AA1F82DDC0C333884BB70498","size":"3279889","click":"2147","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/60\/3584060\/52_131070555_146*110.jpg"}],"page":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"1-268":1}},"cache_created":1481595056}
        </script>
        <script type="text/javascript" src="http://staticm.hd.baofeng.com/script/mplay.min.js?t=1481595057"></script>
    </body>
</html>
