
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="keywords" content="男子公交吸烟并殴打女司机,恶搞,新闻,国内新闻,国际新闻,娱乐,八卦,明星,视频,暴风视频" />
        <meta name="description" content="暴风影音-微视频频道,男子公交吸烟并殴打女司机,提供当下最新、最热娱乐八卦,新闻,搞笑视频,影视资讯 免费在线观看" />
        <meta name="apple-mobile-web-app-status-bar-style" content=" black ">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <title>男子公交吸烟并殴打女司机 - 微视频 - 暴风影音</title>
        <link rel="apple-touch-icon-precomposed" href="http://staticm.hd.baofeng.com/images/share/logo57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://staticm.hd.baofeng.com/images/share/logo114.png" />
        <div style="display: none;">
            <img src="http://staticm.hd.baofeng.com/images/share/logo300.jpg"/>
        </div>
        <link rel="apple-touch-icon" href="favicon.ico">
        <link rel="shortcut icon" href="favicon.ico">
        <script src="http://staticm.hd.baofeng.com/script/libs/flexible.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://staticm.hd.baofeng.com/style/play.min.css?t=1464000397">
        
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?8a388c6d704406084886f9de425484a9";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
        
    </head>
    <body>        <script src="http://staticm.hd.baofeng.com/script/libs/logger.min.js"></script>
        <section>
            <header>
                <div class="hd-head">
                    <h1><a href="/"  title="暴风影音">暴风影音</a></h1>
                    <div class="head-users"><span id="searchbutton" class="search-button"></span><span id="menubutton" data-type="poll" data-auto="auto" class="menu-button"></span></div>
                    <!--菜单浮层start-->
                    <ul id="menulist" class="menu-list" style=" display:none;">
                                                <li><a href="/"  title="">首页</a></li>
                                                <li><a href="/movie.html"  title="">电影</a></li>
                                                <li><a href="/movie.html"  title="">电视剧</a></li>
                                                <li><a href="/comic.html"  title="">动漫</a></li>
                                                <li><a href="/edu.html"  title="">教育</a></li>
                                                <li><a href="/enc.html"  title="">综艺</a></li>
                                                <li><a href="/micvideo.html"  title="">资讯</a></li>
                                            </ul>
                    <!--菜单浮层end-->
                </div>
            </header>
            <div id="searchbar" class="search-popup" style="display: none;">
                <form action="http://hd.baofeng.com/q_JUU1JTg4JTk4JUU1JUJFJUI3JUU1JThEJThF" method="get" target="" autocomplete="off">
                    <div class="search-wrap">
                        <div class="search-wrap-box">
                            <input data-type="input" type="search" placeholder="请输入搜索内容"/>
                            <span data-type="close" class="i-clear"></span>
                        </div>
                        <button data-type="submit" class="s-btn" type="submit">取消</button>
                    </div>
                </form>
                <ul class="search-layer"></ul>
            </div>
            <div class="hd-play-box">
                <div class="hd-video-player">
                    <div class="video-tips-box">
                        <p class="tips-text" id="tipsvideo"></p>
                    </div>
                    <div id="videoplayer" class="video-player">
                        <p class="video-default-pic"><img src="http://staticm.hd.baofeng.com/images/videodefault.jpg"></p>
                    </div>
                </div>
                <div class="video-info"><div id="videoinfo"><em data-type="likeup" data-sum="0" class="like">0</em><em data-type="likedown" data-sum="0" class="dislike">0</em></div><em id="sharebutton" data-type="poll" class="share"><div class="play-share-con" id="shareview"></div></em></div>
            </div>
            <!--播放区域end-->
    
            <div class="hd-channel">
                <h3 class="hd-channel-tit">专辑列表</h3>
                <div class="hd-channel-box">
                                        <div id="albumload" class="hd-search-loadding" style="display:block;"><span>加载中...</span></div>
                    <ul id="movieview" class="hd-channel-list  hd-related-list"></ul>
                </div>
            </div>
            

            <!--底部start-->
                        <footer>
                <a href="http://home.baofeng.com/licence/icp.html" target="_blank">京ICP证070364号</a>
            </footer>            <!--底部end-->
            <!--下载APP-start-->
            <div id="appview" class="hd-download-player">
                <div class="download-details">
                    <p class="close-btn" data-type="remove">关闭</p>
                    <div class="download-con">
                        <h2>
                            <a href="http://m.baofeng.com"></a>
                        </h2>
                        <a id="appload" href="javascript:void(0);" class="app-download">立即下载</a>
                    </div>
                </div>
            </div>
            <!--下载APP-end-->
            <!--返回顶部start-->
            <div id="gotop" class="hd-backup">
                <em data-type="tap" class="backup-icon"></em>
            </div>
        </section>
        
        <script id="share_tmpl" type="text/html">
            <div id="bdshare" class="play-share-detail bdshare_t bds_tools get-codes-bdshare" data='{"url":"http://m.baofeng.com/micv/1/micv-1-37-vid-3242614.html","pic":"http://box.bfimg.com/vimg/wid/37/114/3242614/52_129648150_146*110.jpg","text": "我正在暴风极致影院观看：，很赞！"}'>
                <a href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="javascript:void(0);" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </script>
        <script id="mplay_tmpl" type="text/html">
            <%for(var i=0,len = video_list.length;i<len;i++){%>
                <li class="<%=(cur==i)&&'cur'%>">
                    <div class="film-box">
                        <div class="film-pic">
                            <p class="film-default"></p>
                            <div class="pic" style="background-image:url(<%=video_list[i].img%>);">
                                <%if(video_list[i].video_time){%>
                                    <p class="film-time-layer"><%=video_list[i].video_time%></p>
                                <%}%>
                            </div>
                        </div>
                        <div class="film-text">
                            <h3><%=(video_list[i].v_sub_title || video_list[i].vname)%></h3>
                        </div>
                         <div class="all-film" data-index="<%=video_list[i].index%>"></div>
                    </div>
                </li>
            <%}%>
        </script>
        <!--返回顶部end-->
        <script type="text/javascript">
            var caching = {
                "search": [ 
{"name": "柠檬初上"},{"name": "年兽大作战"},{"name": "玉海棠"},{"name": "山海经之赤影传说"},{"name": "爱的追踪"}]
            };
            var static_storm_json = {"album_info":{"aid":"1","aname":"\u70ed\u70b9\u5a31\u4e505\u6708\u7cbe\u90091","update_time":"1463994134272","videos_num":"461","ispay":"0","dzone":"0","wid":"37","series_total":461},"video_list":[{"flash":"0","vid":"3242614","vname":"\u7537\u5b50\u516c\u4ea4\u5438\u70df\u5e76\u6bb4\u6253\u5973\u53f8\u673a","video_time":"98000","v_sub_title":"\u7537\u5b50\u516c\u4ea4\u5438\u70df\u5e76\u6bb4\u6253\u5973\u53f8\u673a","img_url":"\/vimg\/wid\/37\/114\/3242614\/52_129648150_146*110.jpg","update_time":"1463712021912","location":"147","ispay":"0","dzone":"0","iid":"03DA15306FE470592E51D160C2CA4DC054082BF7","size":"5993280","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/114\/3242614\/52_129648150_146*110.jpg"},{"flash":"0","vid":"3242615","vname":"\u97e9\u519b\u9a7b\u5730\u566a\u97f3\u592a\u5927\u6bcd\u725b\u6d41\u4ea7","video_time":"32000","v_sub_title":"\u97e9\u519b\u9a7b\u5730\u566a\u97f3\u592a\u5927\u6bcd\u725b\u6d41\u4ea7","img_url":"\/vimg\/wid\/37\/115\/3242615\/52_129648151_146*110.jpg","update_time":"1463712031812","location":"148","ispay":"0","dzone":"0","iid":"3ED5487C6F95BA5D5A769A50FBC16158AC29FA3D","size":"2464683","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/115\/3242615\/52_129648151_146*110.jpg"},{"flash":"0","vid":"3242616","vname":"\u5973\u5b5013\u5e74\u4e0d\u526a\u5934\u53d1\u6210\u957f\u53d1\u516c\u4e3b","video_time":"60000","v_sub_title":"\u5973\u5b5013\u5e74\u4e0d\u526a\u5934\u53d1\u6210\u957f\u53d1\u516c\u4e3b","img_url":"\/vimg\/wid\/37\/116\/3242616\/52_129648152_146*110.jpg","update_time":"1463712042769","location":"149","ispay":"0","dzone":"0","iid":"BEF9C8F677EC8066BA81F0E9F1162D00AA33C773","size":"4512016","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/116\/3242616\/52_129648152_146*110.jpg"},{"flash":"0","vid":"3242617","vname":"\u9752\u5c9b\u5973\u6559\u5e08\u906d\u964c\u751f\u7537\u62d6\u62fd","video_time":"135000","v_sub_title":"\u9752\u5c9b\u5973\u6559\u5e08\u906d\u964c\u751f\u7537\u62d6\u62fd","img_url":"\/vimg\/wid\/37\/117\/3242617\/52_129648153_146*110.jpg","update_time":"1463712048241","location":"150","ispay":"0","dzone":"0","iid":"E07824972C12DCE8267A403A0A82D33E249887C3","size":"8277115","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/117\/3242617\/52_129648153_146*110.jpg"},{"flash":"0","vid":"3242618","vname":"\u6cf0\u56fd\u7537\u751f\u9a91\u9a6c\u4e0a\u5b66","video_time":"32000","v_sub_title":"\u6cf0\u56fd\u7537\u751f\u9a91\u9a6c\u4e0a\u5b66","img_url":"\/vimg\/wid\/37\/118\/3242618\/52_129648154_146*110.jpg","update_time":"1463712053323","location":"151","ispay":"0","dzone":"0","iid":"42E581D9CC949E141586B9A64B618B0AFA66E8F1","size":"1994934","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/118\/3242618\/52_129648154_146*110.jpg"},{"flash":"0","vid":"3242619","vname":"\u4e16\u754c\u6700\u5927\u98de\u673a\u53ef\u88c550\u8f86\u8f66","video_time":"19000","v_sub_title":"\u4e16\u754c\u6700\u5927\u98de\u673a\u53ef\u88c550\u8f86\u8f66","img_url":"\/vimg\/wid\/37\/119\/3242619\/52_129648155_146*110.jpg","update_time":"1463712057809","location":"152","ispay":"0","dzone":"0","iid":"0D0FCE366DC2A6DA4EA8C89A6D85FF3736BD3A2C","size":"1472180","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/119\/3242619\/52_129648155_146*110.jpg"},{"flash":"0","vid":"3242620","vname":"\u610f\u53a8\u5e08\u6253\u90202000\u7c73\u5de8\u578b\u6bd4\u8428","video_time":"52000","v_sub_title":"\u610f\u53a8\u5e08\u6253\u90202000\u7c73\u5de8\u578b\u6bd4\u8428","img_url":"\/vimg\/wid\/37\/120\/3242620\/52_129648156_146*110.jpg","update_time":"1463712089749","location":"153","ispay":"0","dzone":"0","iid":"691EE54C7C3BC4272EB4DF7A961D84FEF0667242","size":"3933374","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/120\/3242620\/52_129648156_146*110.jpg"},{"flash":"0","vid":"3242621","vname":"\u7591\u4e89\u7537\u53cb\u5973\u5b50\u906d\u56f4\u6bb4\u66b4\u6253","video_time":"70000","v_sub_title":"\u7591\u4e89\u7537\u53cb\u5973\u5b50\u906d\u56f4\u6bb4\u66b4\u6253","img_url":"\/vimg\/wid\/37\/121\/3242621\/52_129648157_146*110.jpg","update_time":"1463712104377","location":"154","ispay":"0","dzone":"0","iid":"E7F96F3442970F73C22BD518441512DC848DAD0E","size":"4337743","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/121\/3242621\/52_129648157_146*110.jpg"},{"flash":"0","vid":"3242623","vname":"\u81ea\u62cd\u754c\u795e\u4f5c\u5168\u81ea\u52a8\u4f38\u7f29\u6746","video_time":"57000","v_sub_title":"\u81ea\u62cd\u754c\u795e\u4f5c\u5168\u81ea\u52a8\u4f38\u7f29\u6746","img_url":"\/vimg\/wid\/37\/123\/3242623\/52_129648159_146*110.jpg","update_time":"1463712114072","location":"155","ispay":"0","dzone":"0","iid":"7F4A4DF6887F9C68AD97A71797C06D94AC273E03","size":"3516752","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/123\/3242623\/52_129648159_146*110.jpg"},{"flash":"0","vid":"3242625","vname":"\u513f\u5ab3\u716e\u8377\u5305\u86cb\u906d\u5927\u9a82\u4e0d\u5b5d\u987a","video_time":"164000","v_sub_title":"\u513f\u5ab3\u716e\u8377\u5305\u86cb\u906d\u5927\u9a82\u4e0d\u5b5d\u987a","img_url":"\/vimg\/wid\/37\/125\/3242625\/52_129648160_146*110.jpg","update_time":"1463712126046","location":"156","ispay":"0","dzone":"0","iid":"7E5E7E891920D3B151C1B893C5E463E96746EF67","size":"10107148","img":"http:\/\/box.bfimg.com\/vimg\/wid\/37\/125\/3242625\/52_129648160_146*110.jpg"}],"page":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"1-461":1}},"cache_created":1463997217}
        </script>
         <script type="text/javascript" src="http://staticm.hd.baofeng.com/script/libs/aes.min.js?v=1460103910325"></script>
        <script type="text/javascript" src="http://staticm.hd.baofeng.com/script/mplay.min.js?t=1464000397"></script>
    </body>
</html>
