
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="keywords" content="千里雷声万里闪,千里雷声万里闪在线观看" />
        <meta name="description" content="千里雷声万里闪，：廖惊北等一批共产党人在陕甘边地区出生入死浴血奋战，从建立小股游击队开始，一步步壮大为主力红军并建立了照金、南梁红色根据地。他们在强大的白色势力的包围下..." />
        <meta name="apple-mobile-web-app-status-bar-style" content=" black ">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <title>千里雷声万里闪在线观看-暴风影音</title>
        <link rel="apple-touch-icon-precomposed" href="http://staticm.hd.baofeng.com/images/share/logo57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://staticm.hd.baofeng.com/images/share/logo114.png" />
        <div style="display: none;">
            <img src="http://staticm.hd.baofeng.com/images/share/logo300.jpg"/>
        </div>
        <link rel="apple-touch-icon" href="/favicon.ico">
        <link rel="shortcut icon" href="/favicon.ico">
        <script src="http://staticm.hd.baofeng.com/script/libs/flexible.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://staticm.hd.baofeng.com/style/play.min.css?t=1476857047">
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?8a388c6d704406084886f9de425484a9";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
            (function (G,D,s,c,p) {
                c={
                　　UA:"UA-baofeng-000001",
                　　NO_FLS:0,
                　　WITH_REF:1,
                　　URL:'http://static.hd.baofeng.com/script/iwt.js'
                };
                G._iwt?G._iwt.track(c,p):(G._iwtTQ=G._iwtTQ || []).push([c,p]),!G._iwtLoading && lo();
                function lo(t) {
                　　G._iwtLoading=1;s=D.createElement("script");s.src=c.URL;
                　　t=D.getElementsByTagName("script");t=t[t.length-1];
                　　t.parentNode.insertBefore(s,t);
                }
            })(this,document);
        </script>
        <script src="http://staticm.hd.baofeng.com/script/libs/logger.min.js?t=1476857047"></script>
    </head>
    <body>
        <section>
            <header>
                <div class="hd-head" style="position: absolute;">
                    <h1><a href="/"  title="暴风影音">暴风影音</a></h1>
                    <div class="head-users"><span id="searchbutton" class="search-button"></span> <a href="/history.html" class="history-button"></a> <span id="usersbutton" class="users-button"></span><span id="menubutton" data-type="poll" data-auto="auto" class="menu-button"></span></div>
                </div>
            </header>
            <!--菜单浮层start-->
            <ul id="menulist" class="menu-list" style=" display:none;">
                <li><a href="/"  title="">首页</a></li>
                <li><a href="/movie.html"  title="">电影</a></li>
                <li><a href="/tv.html"  title="">电视剧</a></li>
                <li><a href="/comic.html"  title="">动漫</a></li>
                <li><a href="/edu.html"  title="">教育</a></li>
                <li><a href="/enc.html"  title="">综艺</a></li>
                <li><a href="/micvideo.html"  title="">资讯</a></li>
                <li><a href="/music/840/vlist-type-1001-ishot-1-sid-1-p-1.shtml"  title="">音乐</a></li>
                <li><a href="/bbc/204/list-type-63-ishot-1-sid-1-p-1.shtml"  title="">纪录片</a></li>
            </ul>
            <!--菜单浮层end-->
            <div id="searchbar" class="search-popup" style="display: none;">
                <form action="http://hd.baofeng.com/q_JUU1JTg4JTk4JUU1JUJFJUI3JUU1JThEJThF" method="get" target="" autocomplete="off">
                    <div class="search-wrap">
                        <div class="search-wrap-box">
                            <input data-type="input" type="search" placeholder="请输入搜索内容"/>
                            <span data-type="close" class="i-clear"></span>
                        </div>
                        <button data-type="submit" class="s-btn" type="submit">取消</button>
                    </div>
                </form>
                <ul class="search-layer"></ul>
            </div>
            <div class="hd-play-box">
                <div class="hd-video-player">
                    <div class="video-tips-box">
                        <p class="tips-text" id="tipsvideo"></p>
                    </div>
                    <div id="videoplayer" class="video-player">
                        <p class="video-default-pic"><img src="http://staticm.hd.baofeng.com/images/videodefault.jpg"></p>
                    </div>
                </div>
                <div class="video-info video-download-box"><a href="javascript:void(0);" title="使用APP观看，速度快到飞起来!" class="download-app"><i class="icon-download"></i><span>使用APP观看，速度快到飞起来！</span></a></div>
                <div class="video-info"><div id="videoinfo"><em data-type="likeup" data-sum="0" class="like">0</em><em data-type="likedown" data-sum="0" class="dislike">0</em></div><em id="sharebutton" data-type="poll" class="share"><div class="play-share-con" id="shareview"></div></em></div>
            </div><div data-ads="houyi:load" data-id="h5_banner1" data-type="1" class="hd-ad" style="margin-bottom:0.36rem;"></div>

            <!--播放区域end-->
            <!--长视频介绍start-->
            <div class="movie-info-box">
                <!--剧情介绍start-->
                <div class="plot-info-box">
                    <div class="plot-info-part">
                        <p class="show-more-icon"><i id="arrowbutton" data-type="poll" class="arrow-down"></i></p>
                        <p class="plot-big-tit"><em>千里雷声万里闪</em></p>
                        <p><span>类型：</span>战争 / 剧情</p>
                        <p>演员：刘晓虎 / 刘一含</p>                    </div>
                    <div id="infohide" class="plot-info-hide">
                        <p><span>地区：</span>内地</p>
                        <p class="plot-text"><span>简介：</span>廖惊北等一批共产党人在陕甘边地区出生入死浴血奋战，从建立小股游击队开始，一步步壮大为主力红军并建立了照金、南梁红色根据地。他们在强大的白色势力的包围下，粉碎了敌人一次次的围剿，屡战屡败、屡败屡战，演绎了一幕幕传奇而悲壮的故事。最后壮大了红军队伍，建立了陕北红色根据地，为迎接中央红军到达陕北做出了巨大的贡献。廖惊北和颜显鸿是一对红色恋人，在艰苦卓绝的年代生生死死，几次离散，最终在敌人炮火之中隔河结为夫妻，结婚仪式刚结束，廖惊北就带领战士冲向前线。</p>
                    </div>
                </div>
                <div id="movieview"></div>
            </div>
            <!--长视频介绍end-->
            <!--热播推荐start-->
            <div id="channelswitch" class="hd-channel" data-pages="6" data-paces="caching.wnews" style="display: none;">
                <h3 class="hd-channel-tit">热播推荐</h3>
                <div class="hd-channel-box">
                    <ul class="hd-channel-list hd-channel-list3" data-view="channel_tmpl"></ul>
                  <span class="exchange-btn"><em data-type="tap">换一批<i data-type="tap" class="exchange-icon"></i></em></span>
                </div>
            </div>
            <div data-ads="houyi:delay" data-id="h5_banner1" data-type="2" class="hd-ad"></div>
            <!--热播推荐end-->
            <!--评论start-->
            <div class="hd-channel" id="commentsbox" style="display: none;">
                <div class="comments-box">
                   <h3 class="comments-tit">评论 <span class="comments-num">共0条评论</span><span class="remaining-num">还可以输入<em>140</em>个字</span></h3>
                   <div id="commentspost" class="comments-con">
                        <textarea id="commentstext" rows="3" required placeholder="输入要发表的评论" class="comments-input"></textarea>
                        <div class="submit-comments-vcode">
                            <input id="commentsvcode" type="text" placeholder="输入验证码" class="vcode-input"><img id="imgvcode" src="http://comments.baofeng.com/v/?w=60&h=25&fontsize=18&len=4&leftpadding=8&r=0.94467519572936" class="vcode-img" data-type="vcode"><a href="javascript:void(0);" class="comments-unsubmit" data-type="send">发布</a><a href="javascript:void(0);" class="comments-cancel" data-type="cancel">取消</a>
                        </div>
                   </div>
                   <!--错误提示-start-->
                   <div id="boxerr" class="comments-pop-box" style="display:none;">
                       <div class="mask-white"></div>
                       <div class="comments-popup">验证码输入错误</div>
                   </div>
                   <!--错误提示-end-->
                    <div id="commentslist"></div>
                </div>
               <span id="ajaxbutton" data-type="jsonp" data-count="10" class="lookmore-btn"><em>查看更多<i class="lookmore-icon"></i></em></span>
            </div>
            <!--评论end-->
            <!--绑定手机号弹窗-start-->
            <div id="phonepopup" class="binding-phone-popup popup-show">
                <div class="mask-black"></div>
                <div class="binding-popup">
                    <p>评论需绑定手机号</p>
                    <div class="operation-select"><em data-type="cancel">以后再说</em><span data-type="bind">立即绑定</span></div>
                </div>
            </div>
            <!--绑定手机号弹窗-end-->
            <!--底部start-->
            <footer>
                <a href="http://home.baofeng.com/licence/icp.html" target="_blank">京ICP证070364号</a>
            </footer>            <!--底部end-->
            <!--下载APP-start-->
            <div id="appview" class="hd-download-player">
                <div class="download-details">
                    <p class="close-btn" data-type="remove">关闭</p>
                    <div class="download-con">
                        <h2>
                            <a href="http://m.baofeng.com"></a>
                        </h2>
                        <a id="appload" href="javascript:void(0);" class="app-download">立即下载</a>
                    </div>
                </div>
            </div>
            <!--下载APP-end-->
            <!--返回顶部start-->
            <div id="gotop" class="hd-backup">
                <em data-type="tap" class="backup-icon"></em>
            </div>
        </section>
        <script id="comments_tmpl" type="text/html">
            <%for(var i=0,len = data.length;i<len;i++){%>
                <li>
                    <div class="comments-user-head"><img src="<%=data[i].faceimg%>"></div>
                    <div class="comments-info">
                        <p class="comments-users-info"><%=data[i].username%></p>
                        <p class="comments-details"><%=data[i].yestxt%></p>
                        <p class="comments-lastline"><em class="comments-time"><%=data[i].addtime%></em><span class="comments-support"><em class="comments-support-num"><%=data[i].fulsum%></em><a class="icon-support" href="javascript:void(0);"  title="点赞" data-type="praise" title="点赞" data-praise="<%=data[i].useful%>" data-id="<%=data[i].id%>"></a></span></p>
                    </div>
                </li>
            <%}%>
        </script>
        <script id="album_tmpl" type="text/html">
            <div class="movie-num-sum">
                <p class="total-num"><%=uptitle%></p>
                <nav class="total-num-division">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <% for(var key in pagemap){%>
                               <span class="swiper-slide" data-index="<%=pagemap[key]%>"><%=key%></span>
                            <%}%>
                        </div>
                    </div>
                </nav>
            </div>
            <%classname = 'movie-num-list'%>
            <%if(channel==4 && vsubtitle){%>
                <%classname = 'movie-num-list movie-text-list'%>
            <%}%>
            <ul id="dramalist" class="<%=classname%>"></ul>
        </script>
        <script id="drama_tmpl" type="text/html">
            <%list = videolist[curpage]%>
            <%for(var i=0,len = list.length;i<len;i++){%>
                <%data = list[i],index = data.GetIndex(),classname = 'all-line'%>
                <li class="<%=(isdraw && curindex == i)?'cur':''%>">
                    <%if(data.GetPreview()){%>
                        <%classname = 'all-line icon-yug'%>
                    <%}else if(data.GetNew()){%>
                        <%classname = 'all-line icon-new'%>
                    <%}%>
                    <span data-vindex="<%=index%>" class="<%=classname%>"></span>
                    <%if(channel==4 && vsubtitle){%>
                        <%=data.GetTitle()%>
                    <%}else{%>
                        <%=data.GetLocation()%>
                    <%}%>
                </li>
            <%}%>
        </script>
        <script id="share_tmpl" type="text/html">
            <div id="bdshare" class="play-share-detail bdshare_t bds_tools get-codes-bdshare" data='{"url":"http://m.baofeng.com/play/35/play-812035-drama-18.html","pic":"http://box.bfimg.com/img/35/812035/51_270*340.jpg","text": "我正在暴风极致影院观看：千里雷声万里闪，很赞！"}'>
                <a href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="javascript:void(0);" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </script>
        <script id="channel_tmpl" type="text/html">
            <% for(var i=0,len = comments.length;i<len;i++){%>
                <%data = comments[i]%>
                <li>
                    <div class="film-box">
                        <div class="film-pic">
                            <p class="film-default"></p>
                            <div class="pic" style="background-image:url(<%=data.img%>);">
                                <%if(data.info){%>
                                    <p class="film-time-layer"><%=data.info%></p>
                                <%}%>
                            </div>
                        </div>
                        <div class="film-text">
                            <h3><%=data.title%></h3>
                            <h4><%=data.comment%></h4>
                        </div>
                       <a href="<%=data.url%>" class="all-film"></a>
                    </div>
                </li>
            <%}%>
        </script>
        <!--返回顶部end-->
        <script type="text/javascript">
            var movie_detail= {"info_box_tpl":"7","info_channel":"2","info_id":"812035","info_wid":"13","info_score":"6.9","info_scc":"107","info_year":"2016","info_series_id":{"1":["322"],"2":["322"],"3":["322"],"8":["322"]},"info_people":[{"type_id":"1","type_name":"\u5bfc\u6f14","people":[{"id":"711315","name":"\u5f20\u524d"}]},{"type_id":"3","type_name":"\u6f14\u5458","people":[{"id":"735897","name":"\u5218\u6653\u864e"},{"id":"735905","name":"\u5218\u4e00\u542b"}]}],"info_shortcomment":[],"info_update_text":"\u6bcf\u5929\u66f4\u65b03\u96c6,\u517136\u96c6","info_comment":"\u6e38\u51fb\u961f\u5efa\u7acb\u6839\u636e\u5730\u7684\u4f20\u5947","info_name":"\u5343\u91cc\u96f7\u58f0\u4e07\u91cc\u95ea","info_alias":"","info_jianjie":"\u5ed6\u60ca\u5317\u7b49\u4e00\u6279\u5171\u4ea7\u515a\u4eba\u5728\u9655\u7518\u8fb9\u5730\u533a\u51fa\u751f\u5165\u6b7b\u6d74\u8840\u594b\u6218\uff0c\u4ece\u5efa\u7acb\u5c0f\u80a1\u6e38\u51fb\u961f\u5f00\u59cb\uff0c\u4e00\u6b65\u6b65\u58ee\u5927\u4e3a\u4e3b\u529b\u7ea2\u519b\u5e76\u5efa\u7acb\u4e86\u7167\u91d1\u3001\u5357\u6881\u7ea2\u8272\u6839\u636e\u5730\u3002\u4ed6\u4eec\u5728\u5f3a\u5927\u7684\u767d\u8272\u52bf\u529b\u7684\u5305\u56f4\u4e0b\uff0c\u7c89\u788e\u4e86\u654c\u4eba\u4e00\u6b21\u6b21\u7684\u56f4\u527f\uff0c\u5c61\u6218\u5c61\u8d25\u3001\u5c61\u8d25\u5c61\u6218\uff0c\u6f14\u7ece\u4e86\u4e00\u5e55\u5e55\u4f20\u5947\u800c\u60b2\u58ee\u7684\u6545\u4e8b\u3002\u6700\u540e\u58ee\u5927\u4e86\u7ea2\u519b\u961f\u4f0d\uff0c\u5efa\u7acb\u4e86\u9655\u5317\u7ea2\u8272\u6839\u636e\u5730\uff0c\u4e3a\u8fce\u63a5\u4e2d\u592e\u7ea2\u519b\u5230\u8fbe\u9655\u5317\u505a\u51fa\u4e86\u5de8\u5927\u7684\u8d21\u732e\u3002\u5ed6\u60ca\u5317\u548c\u989c\u663e\u9e3f\u662f\u4e00\u5bf9\u7ea2\u8272\u604b\u4eba\uff0c\u5728\u8270\u82e6\u5353\u7edd\u7684\u5e74\u4ee3\u751f\u751f\u6b7b\u6b7b\uff0c\u51e0\u6b21\u79bb\u6563\uff0c\u6700\u7ec8\u5728\u654c\u4eba\u70ae\u706b\u4e4b\u4e2d\u9694\u6cb3\u7ed3\u4e3a\u592b\u59bb\uff0c\u7ed3\u5a5a\u4eea\u5f0f\u521a\u7ed3\u675f\uff0c\u5ed6\u60ca\u5317\u5c31\u5e26\u9886\u6218\u58eb\u51b2\u5411\u524d\u7ebf\u3002","info_img":"http:\/\/box.bfimg.com\/img\/35\/812035\/51_118*157.jpg","info_daoyan_detail":[{"id":"711315","name":"\u5f20\u524d"}],"info_zhuyan_detail":[{"id":"735897","name":"\u5218\u6653\u864e"},{"id":"735905","name":"\u5218\u4e00\u542b"}],"info_area_catlog":[{"areaid":"7","area":"\u5185\u5730","categoryid":2003,"category":"\u6218\u4e89","typeid":"2","typename":"\u7535\u89c6","cateid":"102"},{"areaid":"7","area":"\u5185\u5730","categoryid":2018,"category":"\u5267\u60c5","typeid":"2","typename":"\u7535\u89c6","cateid":"104"}],"info_pianyuan":[{"aid":"181301","hd_type":"1080P","wid":"13","left_eye":1,"exclusive":0,"dzone":1,"ispay":0,"3d":0,"pay_type":0,"type":1,"pagemap":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"18-1":1}},"videosnum":"18"},{"aid":"181298","hd_type":"720P","wid":"13","left_eye":1,"exclusive":0,"dzone":1,"ispay":0,"3d":0,"pay_type":0,"type":1,"pagemap":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"21-1":1}},"videosnum":"21"},{"aid":"181295","hd_type":"480P","wid":"13","left_eye":0,"exclusive":0,"dzone":1,"ispay":0,"3d":0,"pay_type":0,"type":1,"pagemap":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"21-1":1}},"videosnum":"21"}],"info_complatestatus":"1","info_tpl_id":0,"info_subscibe":2,"info_share":1,"info_shortcut":1,"info_posters":{"a":[],"w":[],"h":[]},"info_sid":["1","2","3","8","9","10","11","12","15","16","18","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","43","44","45"],"info_hd":1,"movieid":"812035"};
            var caching = {"wnews":[{"title":"\u9ebb\u96c0TV\u7248","img":"http:\/\/box.bfimg.com\/img\/5\/811005\/51_150*200.jpg","comment":"\u674e\u6613\u5cf0\u52a0\u76df\u201c\u6c6a\u4f2a\u7279\u52a1\u201d","url":"\/play\/5\/play-811005.html","info":"\u66f4\u65b0\u81f367\u96c6"},{"title":"\u953b\u5200","img":"http:\/\/box.bfimg.com\/img\/379\/811379\/51_150*200.jpg","comment":"\u6ec7\u519b\u72fc\u5175\u4f17\u5c06\u58eb\u4f17\u5fd7\u6210\u57ce\u5171\u8d74\u56fd\u96be","url":"\/play\/379\/play-811379.html","info":"38\u96c6\u5168"},{"title":"\u50bb\u513f\u4f20\u5947\u4e4b\u6297\u6218\u5230\u5e95","img":"http:\/\/box.bfimg.com\/img\/123\/811623\/51_150*200.jpg","comment":"\u65b9\u54c8\u513f\u4f20\u5947\u6545\u4e8b\u518d\u73b0","url":"\/play\/123\/play-811623.html","info":"\u66f4\u65b0\u81f334\u96c6"},{"title":"\u53cc\u523aTV\u7248","img":"http:\/\/box.bfimg.com\/img\/127\/811627\/51_150*200.jpg","comment":"\u5b50\u6587\u89e3\u9501\u9738\u9053\u5973\u519b\u5b98\u6a21\u5f0f","url":"\/play\/127\/play-811627.html","info":"\u66f4\u65b0\u81f336\u96c6"},{"title":"\u517b\u4e2a\u5b69\u5b50\u4e0d\u5bb9\u6613","img":"http:\/\/box.bfimg.com\/img\/220\/811220\/51_150*200.jpg","comment":"\u4f1f\u5927\u6bcd\u4eb2\u629a\u517b5\u4e2a\u5b69\u5b50","url":"\/play\/220\/play-811220.html","info":"50\u96c6\u5168"},{"title":"\u9ebb\u96c0","img":"http:\/\/box.bfimg.com\/img\/25\/810525\/51_150*200.jpg","comment":"\u674e\u6613\u5cf0\u52a0\u76df\u201c\u6c6a\u4f2a\u7279\u52a1\u201d","url":"\/play\/25\/play-810525.html","info":"\u66f4\u65b0\u81f356\u96c6"},{"title":"\u730e\u5203","img":"http:\/\/box.bfimg.com\/img\/117\/810617\/51_150*200.jpg","comment":"\u730e\u6237\u667a\u6597\u65e5\u5bc7","url":"\/play\/117\/play-810617.html","info":"36\u96c6\u5168"},{"title":"\u6620\u5c71\u7ea2","img":"http:\/\/box.bfimg.com\/img\/21\/811521\/51_150*200.jpg","comment":"\u56db\u4e2a\u5973\u4eba\u7684\u6210\u957f\u53f2","url":"\/play\/21\/play-811521.html","info":"\u66f4\u65b0\u81f340\u96c6"},{"title":"\u5fae\u5fae\u4e00\u7b11\u5f88\u503e\u57ce","img":"http:\/\/box.bfimg.com\/img\/31\/809531\/51_150*200.jpg","comment":"\u7f51\u6e38\u9ad8\u624b\u906d\u9047\u5947\u8469\u7231\u60c5","url":"\/play\/31\/play-809531.html","info":"30\u96c6\u5168"},{"title":"\u70ae\u795e","img":"http:\/\/box.bfimg.com\/img\/393\/810393\/51_150*200.jpg","comment":"\u4e8e\u9707\u6f14\u7ece\u70ae\u6218\u5947\u624d","url":"\/play\/393\/play-810393.html","info":"43\u96c6\u5168"},{"title":"\u9065\u8fdc\u7684\u8ddd\u79bb","img":"http:\/\/box.bfimg.com\/img\/395\/811395\/51_150*200.jpg","comment":"\u6a2a\u8de8\u4e86\u4e09\u5341\u5e74\u7684\u7231\u60c5\u6545\u4e8b","url":"\/play\/395\/play-811395.html","info":"\u66f4\u65b0\u81f338\u96c6"},{"title":"\u5b9c\u660c\u4fdd\u536b\u6218","img":"http:\/\/box.bfimg.com\/img\/54\/811054\/51_150*200.jpg","comment":"\u5b9c\u660c\u4fdd\u536b\u6218\u7ecf\u5178\u518d\u73b0","url":"\/play\/54\/play-811054.html","info":"35\u96c6\u5168"},{"title":"\u4eb2\u5bc6\u7684\u642d\u6863","img":"http:\/\/box.bfimg.com\/img\/150\/811650\/51_150*200.jpg","comment":"\u5218\u56fd\u6743\u8f6c\u6218\u5f53\u4ee3\u5546\u6218\u5267","url":"\/play\/150\/play-811650.html","info":"\u66f4\u65b0\u81f334\u96c6"},{"title":"\u592a\u592a\u4e07\u5c81","img":"http:\/\/box.bfimg.com\/img\/355\/808855\/51_150*200.jpg","comment":"90\u540e\u633d\u6551\u5a5a\u59fb\u7231\u60c5","url":"\/play\/355\/play-808855.html","info":"42\u96c6\u5168"},{"title":"\u5973\u6015\u5ac1\u9519\u90ce","img":"http:\/\/box.bfimg.com\/img\/333\/810833\/51_150*200.jpg","comment":"\u519c\u6751\u5973\u4eba\u5a5a\u59fb\u5931\u8d25\u6c42\u7ffb\u8eab","url":"\/play\/333\/play-810833.html","info":"37\u96c6\u5168"},{"title":"\u5c0f\u522b\u79bb","img":"http:\/\/box.bfimg.com\/img\/230\/809230\/51_150*200.jpg","comment":"\u4e2d\u5b66\u751f\u51fa\u56fd\u7684\u95f9\u5267","url":"\/play\/230\/play-809230.html","info":"39\u96c6\u5168"},{"title":"\u7ec8\u6781\u4f7f\u547d","img":"http:\/\/box.bfimg.com\/img\/175\/810675\/51_150*200.jpg","comment":"\u4e8e\u6653\u5149\u52a0\u76df\u6297\u65e5\u6740\u5978\u8054\u76df","url":"\/play\/175\/play-810675.html","info":"42\u96c6\u5168"},{"title":"\u53cc\u523a","img":"http:\/\/box.bfimg.com\/img\/213\/809213\/51_150*200.jpg","comment":"\u66f4\u63a5\u5730\u6c14\u7684\u8c0d\u6218\u5927\u5267","url":"\/play\/213\/play-809213.html","info":"\u66f4\u65b0\u81f332\u96c6"}],"search": [{"name": "麻雀"},{"name": "小别离未删减版"},{"name": "封神传奇"},{"name": "赏金猎人"},{"name": "海绵宝宝"}]};
        </script>
        <script type="text/javascript" src="http://staticm.hd.baofeng.com/script/play.min.js?t=1476857047"></script>
    </body>
</html>
