<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
        <meta name="keywords" content="反贪风暴2观看, 反贪风暴2在线观看,Z风暴2,S风暴在线播放, 反贪风暴2在线观看完整版" />
        <meta name="description" content="反贪风暴2由古天乐、张智霖、蔡少芬主演，在线观看反贪风暴2完整版、在线播放反贪风暴2高清版，就来暴风影音！" />
        <meta name="apple-mobile-web-app-status-bar-style" content=" black ">
        <meta name="apple-mobile-web-app-title" content="">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <title>反贪风暴2在线观看完整版-Z风暴2,S风暴在线播放高清版-反贪风暴2古天乐/张智霖/蔡少芬-暴风影音</title>
        <link rel="apple-touch-icon-precomposed" href="http://staticm.hd.baofeng.com/images/share/logo57.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://staticm.hd.baofeng.com/images/share/logo114.png" />
        <div style="display: none;">
            <img src="http://staticm.hd.baofeng.com/images/share/logo300.jpg"/>
        </div>
        <link rel="apple-touch-icon" href="/favicon.ico">
        <link rel="shortcut icon" href="/favicon.ico">
        <script src="http://staticm.hd.baofeng.com/script/libs/flexible.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://staticm.hd.baofeng.com/style/play.min.css?t=1480406621">
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?8a388c6d704406084886f9de425484a9";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
            (function (G,D,s,c,p) {
                c={
                　　UA:"UA-baofeng-000001",
                　　NO_FLS:0,
                　　WITH_REF:1,
                　　URL:'http://static.hd.baofeng.com/script/iwt.js'
                };
                G._iwt?G._iwt.track(c,p):(G._iwtTQ=G._iwtTQ || []).push([c,p]),!G._iwtLoading && lo();
                function lo(t) {
                　　G._iwtLoading=1;s=D.createElement("script");s.src=c.URL;
                　　t=D.getElementsByTagName("script");t=t[t.length-1];
                　　t.parentNode.insertBefore(s,t);
                };
            })(this,document);
        </script>
        <script src="http://staticm.hd.baofeng.com/script/libs/logger.min.js?t=1480406621"></script>
    </head>
    <body>
        <div data-ads="houyi:load" data-id="h5_banner7" data-type="7" data-size="0:1.15" class="play-ad"></div>
        <section>
            <header>
                <div class="hd-head" style="position: absolute;">
                    <h1><a href="/"  title="暴风影音">暴风影音</a></h1>
                    <div class="head-users"><span id="searchbutton" class="search-button"></span> <a href="/history.html" class="history-button"></a> <span id="usersbutton" class="users-button"></span><span id="menubutton" data-type="poll" data-auto="auto" class="menu-button"></span></div>
                </div>
            </header>
            <!--菜单浮层start-->
            <ul id="menulist" class="menu-list" style=" display:none;">
                <li><a href="/"  title="">首页</a></li>
                <li><a href="/movie.html"  title="">电影</a></li>
                <li><a href="/tv.html"  title="">电视剧</a></li>
                <li><a href="/comic.html"  title="">动漫</a></li>
                <li><a href="/edu.html"  title="">教育</a></li>
                <li><a href="/enc.html"  title="">综艺</a></li>
                <li><a href="/micvideo.html"  title="">资讯</a></li>
                <li><a href="/sport.html"  title="">体育</a></li>
                <li><a href="/music/840/vlist-type-1001-ishot-1-sid-1-p-1.shtml"  title="">音乐</a></li>
                <li><a href="/bbc/204/list-type-63-ishot-1-sid-1-p-1.shtml"  title="">纪录片</a></li>
            </ul>
            <!--菜单浮层end-->
            <div id="searchbar" class="search-popup" style="display: none;">
                <form action="http://hd.baofeng.com/q_JUU1JTg4JTk4JUU1JUJFJUI3JUU1JThEJThF" method="get" target="" autocomplete="off">
                    <div class="search-wrap">
                        <div class="search-wrap-box">
                            <input data-type="input" type="search" placeholder="请输入搜索内容"/>
                            <span data-type="close" class="i-clear"></span>
                        </div>
                        <button data-type="submit" class="s-btn" type="submit">取消</button>
                    </div>
                </form>
                <ul class="search-layer"></ul>
            </div>
            <div class="hd-play-box">
                <div class="hd-video-player">
                    <div class="video-tips-box">
                        <p class="tips-text" id="tipsvideo"></p>
                    </div>
                    <div id="videoplayer" class="video-player">
                        <p class="video-default-pic"><img src="http://staticm.hd.baofeng.com/images/videodefault.jpg"></p>
                    </div>
                </div>
                <div class="video-info video-download-box"><a href="javascript:void(0);" title="使用APP观看，速度快到飞起来!" class="download-app"><i class="icon-download"></i></a></div>
                <div class="video-info"><div id="videoinfo"><em data-type="likeup" data-sum="0" class="like">0</em><em data-type="likedown" data-sum="0" class="dislike">0</em></div><em id="sharebutton" data-type="poll" class="share"><div class="play-share-con" id="shareview"></div></em></div>
            </div>
            <div data-ads="houyi:load" data-id="h5_banner1" data-type="1" class="hd-ad" style="margin-bottom:0.36rem;"></div>
            <!--播放区域end-->
            <!--长视频介绍start-->
            <div class="movie-info-box">
                <!--剧情介绍start-->
                <div class="plot-info-box">
                    <div class="plot-info-part">
                        <p class="show-more-icon"><i id="arrowbutton" data-type="poll" class="arrow-down"></i></p>
                        <p class="plot-big-tit"><em>反贪风暴2</em></p>
                        <p><span>类型：</span>动作 / 剧情 / 悬疑</p>
                        <p>演员：古天乐 / 张智霖 / 蔡少芬</p>                    </div>
                    <div id="infohide" class="plot-info-hide">
                        <p><span>地区：</span>内地</p>
                        <p class="plot-text"><span>简介：</span>古天乐所饰演的帅气廉署执行官将和张智霖所饰演的警署高层展开一场激烈的较量，亦敌亦友的关系从起初的互相不配合到最后达成共识，一举完成反贪任务</p>
                    </div>
                </div>
                <div id="movieview"></div>
            </div>
            <!--长视频介绍end-->
            <!--热播推荐start-->
            <div id="channelswitch" class="hd-channel hd-channel-movie" data-pages="6" data-paces="caching.wnews" style="display: none;">
                <h3 class="hd-channel-tit">热播推荐</h3>
                <div class="hd-channel-box">
                    <ul class="hd-channel-list hd-channel-list3" data-view="channel_tmpl"></ul>
                  <span class="exchange-btn"><em data-type="tap">换一批<i data-type="tap" class="exchange-icon"></i></em></span>
                </div>
            </div>
            <div data-ads="houyi:delay" data-id="h5_banner2" data-type="2" class="hd-ad"></div>
            <!--热播推荐end-->
            <!--评论start-->
            <div class="hd-channel" id="commentsbox" style="display: none;">
                <div class="comments-box">
                   <h3 class="comments-tit">评论 <span class="comments-num">共0条评论</span><span class="remaining-num">还可以输入<em>140</em>个字</span></h3>
                   <div id="commentspost" class="comments-con">
                        <textarea id="commentstext" rows="3" required placeholder="输入要发表的评论" class="comments-input"></textarea>
                        <div class="submit-comments-vcode">
                            <input id="commentsvcode" type="text" placeholder="输入验证码" class="vcode-input"><img id="imgvcode" src="http://comments.baofeng.com/v/?w=60&h=25&fontsize=18&len=4&leftpadding=8&r=0.94467519572936" class="vcode-img" data-type="vcode"><a href="javascript:void(0);" class="comments-unsubmit" data-type="send">发布</a><a href="javascript:void(0);" class="comments-cancel" data-type="cancel">取消</a>
                        </div>
                   </div>
                   <!--错误提示-start-->
                   <div id="boxerr" class="comments-pop-box" style="display:none;">
                       <div class="mask-white"></div>
                       <div class="comments-popup">验证码输入错误</div>
                   </div>
                   <!--错误提示-end-->
                    <div id="commentslist"></div>
                </div>
               <span id="ajaxbutton" data-type="jsonp" data-count="10" class="lookmore-btn"><em>查看更多<i class="lookmore-icon"></i></em></span>
            </div>
            <!--评论end-->
            <!--绑定手机号弹窗-start-->
            <div id="phonepopup" class="binding-phone-popup popup-show">
                <div class="mask-black"></div>
                <div class="binding-popup">
                    <p>评论需绑定手机号</p>
                    <div class="operation-select"><em data-type="cancel">以后再说</em><span data-type="bind">立即绑定</span></div>
                </div>
            </div>
            <!--绑定手机号弹窗-end-->
            <!--底部start-->
            <footer>
                <a href="http://home.baofeng.com/licence/icp.html" target="_blank">京ICP证070364号</a>
            </footer>
            <!--底部end-->
            <!--下载APP-start-->
            <div id="appview" class="hd-download-player">
                <div class="download-details">
                    <p class="close-btn" data-type="remove">关闭</p>
                    <div class="download-con">
                        <h2>
                            <a href="http://m.baofeng.com"></a>
                        </h2>
                        <a id="appload" href="javascript:void(0);" class="app-download">立即下载</a>
                    </div>
                </div>
            </div>
            <!--下载APP-end-->
            <!--返回顶部start-->
            <div id="gotop" class="hd-backup">
                <em data-type="tap" class="backup-icon"></em>
            </div>
        </section>
        <script id="comments_tmpl" type="text/html">
            <%for(var i=0,len = data.length;i<len;i++){%>
                <li>
                    <div class="comments-user-head"><img src="<%=data[i].faceimg%>"></div>
                    <div class="comments-info">
                        <p class="comments-users-info"><%=data[i].username%></p>
                        <p class="comments-details"><%=data[i].yestxt%></p>
                        <p class="comments-lastline"><em class="comments-time"><%=data[i].addtime%></em><span class="comments-support"><em class="comments-support-num"><%=data[i].fulsum%></em><a class="icon-support" href="javascript:void(0);"  title="点赞" data-type="praise" title="点赞" data-praise="<%=data[i].useful%>" data-id="<%=data[i].id%>"></a></span></p>
                    </div>
                </li>
            <%}%>
        </script>
        <script id="album_tmpl" type="text/html">
            <div class="movie-num-sum">
                <p class="total-num"><%=uptitle%></p>
                <nav class="total-num-division">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <% for(var key in pagemap){%>
                               <span class="swiper-slide" data-index="<%=pagemap[key]%>"><%=key%></span>
                            <%}%>
                        </div>
                    </div>
                </nav>
            </div>
            <%classname = 'movie-num-list'%>
            <%if(channel==4 && vsubtitle){%>
                <%classname = 'movie-num-list movie-text-list'%>
            <%}%>
            <ul id="dramalist" class="<%=classname%>"></ul>
        </script>
        <script id="drama_tmpl" type="text/html">
            <%list = videolist[curpage]%>
            <%for(var i=0,len = list.length;i<len;i++){%>
                <%data = list[i],index = data.GetIndex(),classname = 'all-line'%>
                <li class="<%=(isdraw && curindex == i)?'cur':''%>">
                    <%if(data.GetPreview()){%>
                        <%classname = 'all-line icon-yug'%>
                    <%}else if(data.GetNew()){%>
                        <%classname = 'all-line icon-new'%>
                    <%}%>
                    <span data-vindex="<%=index%>" class="<%=classname%>"></span>
                    <%if(channel==4 && vsubtitle){%>
                        <%=data.GetTitle()%>
                    <%}else{%>
                        <%=data.GetLocation()%>
                    <%}%>
                </li>
            <%}%>
        </script>
        <script id="share_tmpl" type="text/html">
            <div id="bdshare" class="play-share-detail bdshare_t bds_tools get-codes-bdshare" data='{"url":"http://m.baofeng.com/play/287/play-810787.html","pic":"http://box.bfimg.com/img/287/810787/51_270*340.jpg","text": "我正在暴风极致影院观看：反贪风暴2，很赞！"}'>
                <a href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="javascript:void(0);" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            </div>
        </script>
        <script id="channel_tmpl" type="text/html">
            <% for(var i=0,len = comments.length;i<len;i++){%>
                <%data = comments[i]%>
                <li>
                    <div class="film-box">
                        <div class="film-pic">
                            <p class="film-default"></p>
                            <div class="pic" style="background-image:url(<%=data.img%>);">
                                <%if(data.info){%>
                                    <p class="film-time-layer"><%=data.info%></p>
                                <%}%>
                            </div>
                        </div>
                        <div class="film-text">
                            <h3><%=data.title%></h3>
                            <h4><%=data.comment%></h4>
                        </div>
                       <a href="<%=data.url%>" class="all-film"></a>
                    </div>
                </li>
            <%}%>
        </script>
        <!--返回顶部end-->
        <script type="text/javascript">
             var movie_detail= {"info_box_tpl":"5","info_channel":"1","info_id":"810787","info_wid":"13","info_score":"8.1","info_scc":"582","info_year":"2016","info_series_id":[],"info_people":[{"type_id":"1","type_name":"\u5bfc\u6f14","people":[{"id":"49002","name":"\u6797\u5fb7\u7984"}]},{"type_id":"3","type_name":"\u4e3b\u6f14","people":[{"id":"10044","name":"\u53e4\u5929\u4e50"},{"id":"28846","name":"\u5f20\u667a\u9716"},{"id":"714805","name":"\u8521\u5c11\u82ac"},{"id":"716608","name":"\u5468\u6e1d\u6c11"},{"id":"714104","name":"\u66fe\u5fd7\u4f1f"},{"id":"29727","name":"\u6797\u4fdd\u6021"},{"id":"29933","name":"\u59dc\u7693\u6587"},{"id":"712575","name":"\u66fe\u56fd\u7965"},{"id":"714521","name":"\u6797\u5bb6\u680b"},{"id":"724626","name":"\u5362\u6d77\u9e4f"},{"id":"738942","name":"\u5f20\u677e\u679d"},{"id":"743107","name":"\u6b27\u9526\u68e0"},{"id":"743190","name":"\u77f3\u4fee"},{"id":"756569","name":"\u9648\u9759"},{"id":"767683","name":"\u76db\u541b"},{"id":"782939","name":"\u8521\u6d01"},{"id":"789544","name":"\u7530\u5b66\u7ef4"}]}],"info_shortcomment":[{"author":"\u65f6\u5149\u7f51","con":"\u300a\u53cd\u8d2a\u98ce\u66b42\u300b\u60c5\u8282\u7d27\u51d1\uff0c\u610f\u72b9\u672a\u5c3d\uff0c\u662f\u4e00\u90e8\u5178\u578b\u7684\u6e2f\u7247\uff0c\u52fe\u8d77\u4e86\u89c2\u4f17\u7684\u6d53\u539a\u5174\u8da3\uff0c\u9664\u4e86\u88ab\u7535\u5f71\u9669\u8c61\u73af\u751f\u7684\u52a8\u4f5c\u573a\u9762\u548c\u66f2\u6298\u590d\u6742\u7684\u7535\u5f71\u60c5\u8282\u6240\u5438\u5f15\u4e4b\u5916\uff0c\u51e0\u4f4d\u4e3b\u6f14\u4e5f\u6210\u4e3a\u4e86\u6d25\u6d25\u4e50\u9053\u7684\u5143\u7d20\u7b2c\u4e00\u3002"},{"author":"\u66b4\u98ce\u76d2\u5b50","con":"\u300a\u53cd\u8d2a\u98ce\u66b42\u300b\u4f5c\u4e3a\u5168\u9762\u5347\u7ea7\u7684\u7eed\u96c6\u4e4b\u4f5c\uff0c\u9664\u4e86\u4fdd\u7559\u53e4\u5929\u4e50\u9970\u6f14\u7684\u5ec9\u653f\u516c\u7f72\u9996\u5e2d\u8c03\u67e5\u4e3b\u4efb\u9646\u5fd7\u5ec9\u8fd9\u4e00\u4e3b\u89d2\u5f62\u8c61\u5916\uff0c\u4ece\u6545\u4e8b\u5230\u5236\u4f5c\u9635\u5bb9\u90fd\u7ecf\u5386\u4e86\u4e00\u6b21\u5347\u7ea7\u6362\u4ee3\u3002"}],"info_update_text":"","info_comment":"\u56db\u5927\u7537\u795e\u5168\u89d2\u5ea6\u5708\u7c89","info_name":"\u53cd\u8d2a\u98ce\u66b42","info_alias":"Z\u98ce\u66b42,S\u98ce\u66b4","info_jianjie":"\u53e4\u5929\u4e50\u6240\u9970\u6f14\u7684\u5e05\u6c14\u5ec9\u7f72\u6267\u884c\u5b98\u5c06\u548c\u5f20\u667a\u9716\u6240\u9970\u6f14\u7684\u8b66\u7f72\u9ad8\u5c42\u5c55\u5f00\u4e00\u573a\u6fc0\u70c8\u7684\u8f83\u91cf\uff0c\u4ea6\u654c\u4ea6\u53cb\u7684\u5173\u7cfb\u4ece\u8d77\u521d\u7684\u4e92\u76f8\u4e0d\u914d\u5408\u5230\u6700\u540e\u8fbe\u6210\u5171\u8bc6\uff0c\u4e00\u4e3e\u5b8c\u6210\u53cd\u8d2a\u4efb\u52a1","info_img":"http:\/\/box.bfimg.com\/img\/287\/810787\/51_118*157.jpg","info_daoyan_detail":[{"id":"49002","name":"\u6797\u5fb7\u7984"}],"info_zhuyan_detail":[{"id":"10044","name":"\u53e4\u5929\u4e50"},{"id":"28846","name":"\u5f20\u667a\u9716"},{"id":"714805","name":"\u8521\u5c11\u82ac"},{"id":"716608","name":"\u5468\u6e1d\u6c11"},{"id":"714104","name":"\u66fe\u5fd7\u4f1f"},{"id":"29727","name":"\u6797\u4fdd\u6021"},{"id":"29933","name":"\u59dc\u7693\u6587"},{"id":"712575","name":"\u66fe\u56fd\u7965"},{"id":"714521","name":"\u6797\u5bb6\u680b"},{"id":"724626","name":"\u5362\u6d77\u9e4f"},{"id":"738942","name":"\u5f20\u677e\u679d"},{"id":"743107","name":"\u6b27\u9526\u68e0"},{"id":"743190","name":"\u77f3\u4fee"},{"id":"756569","name":"\u9648\u9759"},{"id":"767683","name":"\u76db\u541b"},{"id":"782939","name":"\u8521\u6d01"},{"id":"789544","name":"\u7530\u5b66\u7ef4"}],"info_area_catlog":[{"areaid":"1","area":"\u5185\u5730","categoryid":1004,"category":"\u52a8\u4f5c","typeid":"1","typename":"\u7535\u5f71","cateid":"1"},{"areaid":"1","area":"\u5185\u5730","categoryid":1013,"category":"\u5267\u60c5","typeid":"1","typename":"\u7535\u5f71","cateid":"3"},{"areaid":"1","area":"\u5185\u5730","categoryid":1006,"category":"\u60ac\u7591","typeid":"1","typename":"\u7535\u5f71","cateid":"7"}],"info_pianyuan":[{"aid":"182637","hd_type":"1080P","wid":"13","left_eye":1,"exclusive":0,"dzone":1,"ispay":1,"3d":0,"pay_type":0,"type":1,"pagemap":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"1-1":1}},"videosnum":"1"},{"aid":"182584","hd_type":"720P","wid":"13","left_eye":1,"exclusive":0,"dzone":1,"ispay":1,"3d":0,"pay_type":0,"type":1,"pagemap":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"1-1":1}},"videosnum":"1"},{"aid":"182585","hd_type":"480P","wid":"13","left_eye":0,"exclusive":0,"dzone":1,"ispay":1,"3d":0,"pay_type":0,"type":1,"pagemap":{"first":1,"current":1,"last":1,"slippage":[1],"list":{"1-1":1}},"videosnum":"1"}],"info_complatestatus":0,"info_tpl_id":0,"info_subscibe":0,"info_share":1,"info_shortcut":1,"info_posters":{"a":[],"w":[],"h":[]},"info_sid":["1","2","3","8","9","10","11","12","15","16","18","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","43","44","45"],"info_hd":"1","info_trailer":{"aid":"176049","wid":"13","movieid":"808683"},"movieid":"810787"};
             var caching = {
                "wnews":[{"title":"\u8d85\u7ea7\u4fdd\u9556","img":"http:\/\/box.bfimg.com\/img\/128\/809628\/51_150*200.jpg","comment":"\u4e00\u4e2a\u6b66\u75f4\u7684\u52a8\u4f5c\u7535\u5f71\u68a6","url":"\/play\/128\/play-809628.html","info":"8.6"},{"title":"\u8d64\u88f8\u5973\u7279\u5de52\u6697\u591c\u821e\u8005","img":"http:\/\/box.bfimg.com\/img\/114\/808114\/51_150*200.jpg","comment":"\u6210\u5458\u4e0e\u5185\u9b3c\u7684\u660e\u4e89\u6697\u6218","url":"\/play\/114\/play-808114.html","info":"3.6"},{"title":"\u5feb\u624b\u67aa\u624b\u5feb\u67aa\u624b","img":"http:\/\/box.bfimg.com\/img\/302\/807802\/51_150*200.jpg","comment":"\u6797\u66f4\u65b0\u5f20\u9759\u521d\u76f8\u7231\u76f8\u6740","url":"\/play\/302\/play-807802.html","info":"8.4"},{"title":"\u9634\u9633\u5148\u751f\u4e4b\u672b\u4ee3\u5929\u5e08","img":"http:\/\/box.bfimg.com\/img\/76\/812576\/51_150*200.jpg","comment":"\u4e24\u4ee3\u5929\u5e08\u81f4\u656c\u6797\u6b63\u82f1","url":"\/play\/76\/play-812576.html","info":"8.2"},{"title":"\u4e03\u661f\u9f99\u5893","img":"http:\/\/box.bfimg.com\/img\/384\/808384\/51_150*200.jpg","comment":"\u5c71\u5be8\u6478\u91d1\u6821\u5c09\u52c7\u95ef\u795e\u79d8\u5893\u7a74","url":"\/play\/384\/play-808384.html","info":"4.8"},{"title":"\u6012\u62f3","img":"http:\/\/box.bfimg.com\/img\/389\/796889\/51_150*200.jpg","comment":"\u5168\u56fd\u6b66\u672f\u51a0\u519b\u52b2\u7206\u4eae\u76f8","url":"\/play\/389\/play-796889.html","info":"5"},{"title":"\u6b32\u671b\u51fa\u79df\u623f","img":"http:\/\/box.bfimg.com\/img\/462\/798462\/51_150*200.jpg","comment":"\u8eab\u6750\u706b\u8fa3\u4e61\u4e0b\u59b9\u7684\u6ca6\u9677","url":"\/play\/462\/play-798462.html","info":"4.1"},{"title":"\u4e10\u5e2e\u4f20\u5947","img":"http:\/\/box.bfimg.com\/img\/11\/800011\/51_150*200.jpg","comment":"\u4e09\u50bb\u5927\u95f9\u5927\u6c5f\u6e56","url":"\/play\/11\/play-800011.html","info":"4.3"},{"title":"\u4ea1\u547d\u9a7e\u9a76","img":"http:\/\/box.bfimg.com\/img\/403\/149903\/51_150*200.jpg","comment":"\u8840\u6d46\u6d78\u67d3\u7684\u6d6a\u6f2b\u7231\u60c5","url":"\/play\/403\/play-149903.html","info":"8.6"},{"title":"\u4e07\u7269\u751f\u957f","img":"http:\/\/box.bfimg.com\/img\/328\/786828\/51_150*200.jpg","comment":"\u5982\u72fc\u4f3c\u864e\u8377\u5c14\u8499\u60c5\u6b32\u53f2","url":"\/play\/328\/play-786828.html","info":"7"},{"title":"\u96ea\u72fc\u62f3\u738b","img":"http:\/\/box.bfimg.com\/img\/262\/801262\/51_150*200.jpg","comment":"\u8349\u6839\u53f6\u95ee\u51fb\u8d25\u9ed1\u5e2e","url":"\/play\/262\/play-801262.html","info":"4.6"},{"title":"\u8d85\u4f53","img":"http:\/\/box.bfimg.com\/img\/110\/782110\/51_150*200.jpg","comment":"\u65af\u5609\u4e3d\u5973\u5c4c\u4e1d\u53d8\u8d85\u4eba","url":"\/play\/110\/play-782110.html","info":"9.5"},{"title":"\u6025\u901f\u51fa\u53e3(\u6025\u901f\u9003\u79bb)","img":"http:\/\/box.bfimg.com\/img\/244\/95244\/51_150*200.jpg","comment":"\u5411\u6b79\u5f92\u53d1\u8d77\u8fdb\u653b","url":"\/play\/244\/play-95244.html","info":"8"},{"title":"\u7f8e\u4eba\u9c7c","img":"http:\/\/box.bfimg.com\/img\/93\/799093\/51_150*200.jpg","comment":"\u7f8e\u4eba\u9c7c\u4e0e\u738b\u5b50\u7684\u7ae5\u8bdd\u6545\u4e8b","url":"\/play\/93\/play-799093.html","info":"8.7"},{"title":"\u6fb3\u95e8\u98ce\u4e913","img":"http:\/\/box.bfimg.com\/img\/94\/799094\/51_150*200.jpg","comment":"\u738b\u6676\u7092\u51b7\u996d\u4e09\u90e8\u66f2","url":"\/play\/94\/play-799094.html","info":"6.8"},{"title":"\u8bf1\u7978","img":"http:\/\/box.bfimg.com\/img\/111\/800111\/51_150*200.jpg","comment":"\u6e05\u7eaf\u5c11\u5973\u5230\u5c11\u5987\u7684\u8715\u53d8","url":"\/play\/111\/play-800111.html","info":"3.2"},{"title":"\u6076\u4e4b\u82b1","img":"http:\/\/box.bfimg.com\/img\/267\/798767\/51_150*200.jpg","comment":"\u8eab\u4e0d\u7531\u5df1\u5730\u547d\u6848","url":"\/play\/267\/play-798767.html","info":"4"},{"title":"\u516b\u6212\u5f52\u6765","img":"http:\/\/box.bfimg.com\/img\/487\/806987\/51_150*200.jpg","comment":"\u5e08\u5f92\u9f50\u805a\u7cbe\u795e\u75c5\u9662","url":"\/play\/487\/play-806987.html","info":"6.2"}],
                "search": [{"name": "麻雀"},{"name": "小别离未删减版"},{"name": "封神传奇"},{"name": "赏金猎人"},{"name": "海绵宝宝"}]
            };
        </script>
        <script type="text/javascript" src="http://staticm.hd.baofeng.com/script/play.min.js?t=1480406621"></script>
    </body>
</html>
